:root { 
--red_800:#cd2626; 
--blue_A100:#84a9ff; 
--light_blue_600:#0099df; 
--blue_A200:#4285f4; 
--red_500:#ea4335; 
--green_600:#34a853; 
--light_blue_800:#0079be; 
--yellow_400:#fff866; 
--yellow_A400:#fff200; 
--black_900:#000000; 
--gray_903:#2a2a16; 
--red_A700:#ed0006; 
--yellow_100:#fffdcc; 
--black_900_bf:#000000bf; 
--gray_301:#dfe0e0; 
--gray_400:#c8c8c0; 
--gray_500:#92928a; 
--gray_901:#242424; 
--gray_802:#3b3b3b; 
--blue_700:#1f72cd; 
--gray_902:#060d27; 
--gray_803:#3c4043; 
--amber_500:#fbbc04; 
--gray_800:#3f3f32; 
--orange_A700:#ff5e00; 
--gray_900:#23230d; 
--gray_801:#4a4944; 
--amber_700:#f9a000; 
--orange_500:#ff9900; 
--gray_101:#f5f5f2; 
--gray_200:#ecece6; 
--gray_300:#dedede; 
--blue_50:#d6e4ff; 
--gray_100:#f3f2f8; 
--bluegray_900:#353522; 
--gray_600_b2:#6b6b6bb2; 
--white_A700_00:#ffffff00; 
--indigo_400:#6c6bbd; 
--bluegray_700:#394376; 
--bluegray_500:#637282; 
--indigo_900:#091a7a; 
--white_A700:#ffffff; 
}